html {
    font-family: 'Titillium Web', sans-serif;
    
}

.about-img {
    width: 50%;
    border-radius: 30px;
    
 }

body {
    margin: 0;
    
}

h1, p {
   
    width: 100px auto;
}

header {
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    padding: 15px;
    
}

header > h1 {
    padding: 40px;
    color: whitesmoke;
}




.section-one, .section-two {
    padding: 40px;
    margin: 0;
}

.section-two {
    background-color: #9599E2;
    color: whitesmoke;
    
}


.btn {
    display: inline-block;
    background-color: whitesmoke;
    color: #9599E2;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;

}