html, body {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    font-size: 16px;
}

/* Images */
.about-img {
    width: 70%;
    border-radius: 40px;
    
 }

 ul {
     font-size: 0.9em;
 }

header {
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
       
}

header > h1 {
    color: whitesmoke;
    
}

.section-one, .section-two, header {
    padding: 20px;  
}

.section-two {
    background-color: #9599E2;
    color: whitesmoke;

}

h1 {
    font-size: 2em;
}

.btn {
    display: inline-block;
    background-color: whitesmoke;
    color: #9599E2;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;

}

.container {
    padding: 20px 0;
    width: 90%;
    max-width: 620PX;
    margin: 0 auto;
}