html {
    font-family: 'Titillium Web', sans-serif;
}

body {
    margin: 0;
}


h1, h2, p {
    margin-top: 0;
}
h1 {
    font-size: 45px;
}

h2 {
    font-size: 35px;
}

p {
    font-size: 18px;
}

header {
    background-color: yellow;
    
}

header,
.section-one,
.section-two {
    padding: 50px;
}

.section-one {
    background-color: black;
    color: whitesmoke;
}


.btn {
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
    padding: 15px;
    border-radius: 5px;
}


.section-one .btn {
    color: black;
    background-color: yellow;
}

.section-one .btn:hover {
    background-color: whitesmoke;
    font-weight: 700;
}

.section-two .btn {
    color: whitesmoke;
    background-color: black;
}

.section-two .btn:hover {
    background-color: yellow;
    color: black;
    font-weight: 700;
}

