html {
    font-family: 'Titillium Web', sans-serif;
}

section {
    padding: 50px 50px 10px 50px;
    margin: auto;
    text-align: center;
}

img {
    border-radius: 10px;
    width: 60%;
    margin: auto;
}

p {
    margin: auto;
    width: 60%;
    padding: 30px 15px 15px 15px;
}