html {
    font-family: 'Titillium Web', sans-serif;
}

section {
    padding: 50px 50px 10px 50px;
    margin: auto;
    text-align: center;
    
}

img {
    border-radius: 10px;
    width: 60%;
    margin: auto;
}

p {
    margin: auto;
    width: 60%;
    padding: 30px 15px 15px 15px;
}

h1 {
    font-size: 35px;
    color: darkred;
    margin-bottom: -20px;
}

h2 {
    font-size: 20px;
    color: lightslategray;
}

p {
    font-size: 16px;
}

.container {
    background-color: lightyellow;
    padding: 15px;
    width: 90%;
    margin: 0 auto;
}

a {
    font-size: 18px;
    color: lightsalmon;
}

a:hover {
    color: darkred;
    font-weight: bold;
}

a:visited {
    color: deeppink;
}

a:active {
    color: lime;
}

span {
    color: darkorange
}